* {
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    background: rgb(0, 98, 128);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
}

.text__add {
    font-weight: bold;
    font-size: 18px;
}

.field__task {
    border-radius: 50px;
    padding: 5px;
}

.task__add {
    border-radius: 50px;
    padding: 5px 13px 5px 13px;
    background-color: #7FFFD4;
    border: 2px solid #006280;
}

.task__add:hover {
    background-color: #109ac4;
}

.tasks {
    margin-top: 50px;
}

.task {
    list-style-type: decimal;
    background-color: aquamarine;
    margin: 20px;
    padding: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.btn--remove {
    float: right;
}

.is-completed {
    background-color: green;
}
